<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Science Gateway Learning Portal to Learn Science Gateway Portals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include '_navbar.html' %}
    
    <div class="container mt-5">
        <h1>What is this?</h1>
        <p>This app is intended to show developers of science gateways a live example of how they can build
          science gateways in Open OnDemand.
        </p>
    </div>
</body>
</html>
